<h2><%= product.name %></h2>

<ul class="list-group mb-3">
  <li class="list-group-item">Price: $<%= product.price %></li>
  <li class="list-group-item">
    Category:
    <a
      class="link-offset-2 link-underline link-underline-opacity-0"
      href="/products?category=<%= product.category %>"
      ><%= product.category %></a
    >
  </li>
  <a
    href="/farms/<%= product.farm._id %>"
    class="list-group-item list-group-item-action"
    >Farm: <%= product.farm.name %>
  </a>
</ul>

<a href="/products" class="btn btn-secondary">All Products</a>
<a href="/products/<%= product.id %>/edit" class="btn btn-warning"
  >Edit Product</a
>

<form
  action="/products/<%= product.id %>?_method=DELETE"
  method="POST"
  class="d-inline"
>
  <button class="btn btn-danger">Delete</button>
</form>
